@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;700;800&display=swap"); /**************GLOBAL STYLES*****************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s;
}

.backgroundcolor {
  background-color: rgba(31, 31, 31, 0.8);
  z-index: 9999;
}

h1,
h2,
h3,
h4,
p,
body,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1,
h2,
h6,
p,
label {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 1.6rem;
}

h1,
h2 {
  font-weight: 800;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
}

h3,
h4 {
  margin-bottom: 0.6em;
  font-weight: 600;
}

h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 0.85rem;
}

h5 {
  font-size: 0.75rem;
}

h5,
h6 {
  margin-bottom: 0.5em;
  font-weight: 400;
}

h6 {
  font-size: 0.7rem;
}

p,
a,
label {
  font-size: 0.7rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

label {
  font-weight: 500;
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.65;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
    line-height: 1.8;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 0.85rem;
  }
  h6 {
    font-size: 0.75rem;
  }
  p,
  a {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 992px) {
  p,
  a,
  label {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h1,
  h2 {
    font-weight: 800;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  h5 {
    font-size: 1.1rem;
  }
  .accordion-dropdown h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 1rem;
  }
  p,
  a,
  label {
    font-size: 0.8rem;
  }
}
section {
  padding: 3rem 0;
}

.padding-bottom-zero {
  padding-bottom: 0;
}

.container {
  margin-inline: auto;
  width: min(80%, 90rem);
  padding: 0.2em 0;
}

@media (min-width: 768px) {
  .container {
    width: min(90%, 90rem);
  }
}
@media (min-width: 1400px) {
  .container {
    width: min(80%, 90rem);
  }
  p {
    font-size: 0.8rem;
  }
}
img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colum-23 {
  width: 100%;
}

.colum-30 {
  width: 100%;
}

.colum-40 {
  width: 100%;
}

.colum-50 {
  width: 100%;
}

.colum-60 {
  width: 100%;
}

.colum-70 {
  width: 100%;
}

@media (min-width: 768px) {
  .colum-23 {
    width: 23.33%;
  }
  .colum-30 {
    width: 30%;
  }
  .colum-40 {
    width: 40%;
  }
  .colum-50 {
    width: 50%;
  }
  .colum-60 {
    width: 60%;
  }
  .colum-70 {
    width: 70%;
  }
}
/******GLOBAL STYLES*******/
.margin-top {
  margin-top: 2.5em;
}

.primary-color-text {
  color: #1a2238;
}

.grey-color-text {
  color: #d9d9d9;
}

.black-color-text {
  color: #000000;
}

.white-color-text {
  color: #ffffff;
}

.bg-primary-color {
  background-color: #1a2238;
}

.bg-secondary-color {
  background-color: #9eabf2;
}

.bg-purple {
  background-color: #9eabf2;
}

.bg-grey {
  background-color: #f1f1f1;
}

.bg-white {
  background-color: #ffffff;
}

.text-secondary,
.sec-color {
  color: #9eabf2;
}

.bold-text {
  font-weight: 800;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn, #Make-a-donation .submit-btn, .readmore-primary-bg-btn, .readmore-grey-bg-btn, .donate_BTN, .navy-blue-btn {
  padding: 10px 28px;
  font-size: 0.5em;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
}

.text-right {
  text-align: right;
}

button, #Make-a-donation .submit-btn {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  display: inline-block;
}

.padding-top {
  padding-top: 1.5em;
}

.margin-bottom {
  margin-bottom: 2em;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .padding-top {
    padding-top: 5em;
  }
  .btn, #Make-a-donation .submit-btn, .readmore-primary-bg-btn, .readmore-grey-bg-btn, .donate_BTN, .navy-blue-btn {
    padding: 7px 14px;
    font-size: 0.4em;
    font-weight: 300;
  }
}
@media (min-width: 992px) {
  .btn, #Make-a-donation .submit-btn, .readmore-primary-bg-btn, .readmore-grey-bg-btn, .donate_BTN, .navy-blue-btn {
    padding: 8px 16px;
    font-size: 0.45em;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .btn, #Make-a-donation .submit-btn, .readmore-primary-bg-btn, .readmore-grey-bg-btn, .donate_BTN, .navy-blue-btn {
    padding: 10px 20px;
    font-size: 0.5em;
    font-weight: 500;
  }
}
@media (min-width: 1600px) {
  .btn, #Make-a-donation .submit-btn, .readmore-primary-bg-btn, .readmore-grey-bg-btn, .donate_BTN, .navy-blue-btn {
    padding: 10px 28px;
    font-size: 0.55em;
    font-weight: 600;
  }
}
.navy-blue-btn {
  background-color: #1a2238;
}

.donate_BTN {
  background-color: #ffffff;
  display: inline-block;
  padding: 8px 40px;
}
.donate_BTN a {
  color: #1a2238;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.readmore-grey-bg-btn {
  background-color: #f1f1f1;
}

.split {
  display: flex;
}

.faint-horizontal {
  border: 1px solid #f1f1f1;
}

/***************OTHER STYLES**********/
/*****Header****/
.flex {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.flex-space-between {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.column-reverse {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}

#footer .colum-reverse {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}

@media (min-width: 768px) {
  .flex {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }
  .flex-center {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .column-reverse {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
}
.header-hero-wrapper {
  position: relative;
  background-image: url("/assets/hero-image/ngo-hero-image-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 220px;
  width: 100%;
}

@media (max-width: 600px) {
  .header-hero-wrapper {
    background-position: 0 0;
  }
}
@media (min-width: 768px) {
  .header-hero-wrapper {
    background-image: url("/assets/hero-image/ngo-hero-image.jpg");
    background-size: cover;
    background-position: 0 0;
    min-height: 300px;
  }
}
@media (min-width: 992px) {
  .header-hero-wrapper {
    background-size: cover;
    background-position: center;
    min-height: 425px;
  }
}
@media (min-width: 1200px) {
  .header-hero-wrapper {
    background-size: contain;
  }
}
@media (min-width: 1600px) {
  .header-hero-wrapper {
    background-size: cover;
    background-position: center;
    margin-top: 0;
    min-height: 600px;
  }
}
header {
  padding: 0.5em 0;
}
header .logo {
  transition: transform 0.5s ease;
}
header .logo img {
  width: 120px;
  height: auto;
  display: block;
}

nav {
  /**Add this with Js**/
}
nav .harmburger-menu {
  cursor: pointer;
  display: inline-block;
  padding-left: 0.25em;
  transition: transform 0.5s ease-in, background-color 0.5s ease-in;
}
nav .harmburger-menu > div {
  width: 30px;
  height: 4px;
  background-color: #1a2238;
  margin: 4px 0;
  transition: transform 0.5s ease-in;
}
nav .harmburger-menu .changeX {
  transform: translateX(-10px);
  background-color: #9eabf2;
}
nav .topnav-links {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1a2238;
  height: 100%;
  width: 0;
  z-index: 1;
  overflow-x: hidden;
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  box-shadow: 0px 0px 0px 2px rgba(12, 12, 12, 0.3);
  /***please note this***/
  transition: width 0.5s ease-in;
}
nav .topnav-links .sidebar-logo {
  margin-bottom: 2.5em;
  line-height: 0;
}
nav .topnav-links .sidebar-logo img {
  max-width: 200px;
  margin-inline: auto;
  padding: 0.5em 0 0.1em;
}
nav .topnav-links .sidebar-logo a {
  font-size: 0.4em;
  margin-top: 0;
}
nav .sidebarWidth {
  width: 250px;
}
nav li.dropdown {
  margin-bottom: 1em;
  display: block;
  width: 100%;
}
nav li:last-child {
  width: auto;
  margin-bottom: 0;
}
nav a.dropdown-btn {
  text-align: center;
  color: #ffffff;
  padding: 0.25em 0 1.25em;
  font-size: 0.9rem;
  display: block;
  width: 100%;
}
nav .active,
nav .dropdown-btn:hover {
  color: #9eabf2;
}
nav .dropdown-btn span {
  color: #9eabf2;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 0.25em;
  position: absolute;
  transition: transform 0.5s ease;
}
nav .active span {
  transform: rotate(-90deg);
}
nav .dropdown-content {
  background-color: rgb(0, 0, 0);
  background-color: rgba(35, 47, 70, 0.6);
  min-width: 100%;
  margin-inline: auto 0;
  text-align: left;
  max-height: 0;
  padding-left: 0.75em;
  padding-bottom: 0.075em;
  padding-top: 0.075em;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
nav .dropdown-content li:last-child {
  margin-bottom: 0.75em;
}
nav .dropdown-content a {
  color: #ffffff;
  padding-left: 30%;
}

/***please note this***
.main-wrapper {

  transition: margin-right 0.5s ease-in;
}


**/
.moveContentLeft {
  position: relative;
  transform: translateX(-250px);
}

.hideLogo {
  transform: translateX(-150%);
}

@media (min-width: 600px) {
  nav {
    /**Add this with Js**/
  }
  nav .sidebarWidth {
    width: 300px;
  }
  .moveContentLeft {
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  /*****Header****/
  header {
    position: relative;
    padding: 0.5em 0;
  }
  header .flex {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  header .logo {
    width: 15%;
  }
  header .logo img {
    width: 150px;
    margin-inline: 0 auto;
  }
  nav {
    width: 85%;
  }
  nav .harmburger-menu {
    display: none;
  }
  nav .topnav-links {
    width: 100%;
    max-width: 650px;
    margin-inline: auto 0;
    background-color: transparent;
    position: static;
    z-index: 999;
    top: 0;
    right: 0;
    height: auto;
    overflow-x: hidden;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    box-shadow: none;
  }
  nav .topnav-links .sidebar-logo {
    display: none;
  }
  nav li.dropdown,
  nav li.donate_BTN {
    margin-bottom: 0;
    display: inline-block;
    width: 20%;
    margin-left: 0.25em;
  }
  nav li:last-child {
    margin-bottom: 0;
  }
  nav a.dropdown-btn,
  nav .donate_BTN a {
    text-transform: capitalize;
    text-align: center;
    color: #1a2238;
    padding: 1em 0.5em;
    font-size: 0.65rem;
    font-weight: 600;
    display: block;
    width: auto;
    margin: 0;
    background-color: inherit;
  }
  nav a.dropdown-btn.active {
    color: #ffffff;
    background-color: #1a2238;
  }
  nav .dropdown-btn:hover {
    color: #1a2238;
  }
  nav .dropdown-btn span {
    color: #1a2238;
    font-size: 1.2em;
    margin-left: 0.5em;
    margin-right: 0.25em;
    transform: rotate(90deg);
  }
  nav .active span {
    transform: rotate(-90deg);
    color: #ffffff;
  }
  nav .dropdown-content {
    display: block;
    background-color: rgb(35, 47, 70);
    background-color: rgba(35, 47, 70, 0.6);
    min-width: auto;
    text-align: left;
    max-height: 0;
    position: absolute;
    padding-inline: 0.5em;
    line-height: 1;
    padding-bottom: 0;
    padding-top: 0;
    z-index: 1;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, visibility 1s ease;
  }
  nav .dropdown-content a {
    color: #ffffff;
    padding-left: 0;
  }
  nav .transformDropdown {
    visibility: visible;
    max-height: 200px;
  }
  .donate_BTN {
    background-color: inherit;
    padding: 0;
  }
  .donate_BTN a {
    color: #1a2238;
    font-weight: 400;
  }
}
@media (min-width: 992px) {
  /*****Header****/
  header {
    padding: 1em 0;
  }
  header .logo {
    width: 20%;
  }
  header .logo img {
    width: 170px;
  }
  nav {
    width: 70%;
  }
  nav a.dropdown-btn,
  nav .donate_BTN a {
    padding: 1em 0.5em;
    font-weight: 700;
  }
  nav .dropdown-content {
    padding-inline: 1em 0.5em;
    line-height: 1;
  }
  nav .dropdown-content a {
    font-size: 0.45em;
  }
}
@media (min-width: 1200px) {
  nav .topnav-links {
    max-width: 750px;
  }
  nav li.dropdown,
  nav li.donate_BTN {
    margin-left: 0.5em;
  }
  nav a.dropdown-btn,
  nav .donate_BTN a {
    font-size: 0.7rem;
    font-weight: 800;
  }
  nav .dropdown-btn span {
    font-size: 1.2em;
  }
  nav .dropdown-content {
    padding-inline: 1.4em 1.2em;
    line-height: 1.4;
    min-width: 200px;
  }
  nav .dropdown-content a {
    font-size: 0.5em;
  }
}
@media (min-width: 1600px) {
  /*****Header****/
  header .logo img {
    width: 250px;
  }
  nav .topnav-links {
    max-width: 850px;
  }
  nav li.dropdown,
  nav li.donate_BTN {
    margin-left: 0.75em;
  }
  nav a.dropdown-btn,
  nav .donate_BTN a {
    font-size: 0.8rem;
    font-weight: 600;
  }
  nav .dropdown-btn span {
    font-size: 1.2em;
  }
  nav .dropdown-content {
    padding-inline: 1.4em 1.2em;
    line-height: 1.4;
    min-width: 220px;
  }
  nav .dropdown-content a {
    font-size: 0.5em;
  }
}
/**hide hero text on mobile**/
.herotext {
  display: none;
}

@media (min-width: 768px) {
  .herotext {
    display: block;
  }
  .hero-text-wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    line-height: 0.5;
  }
  .hero-text-wrapper h1 {
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 0.8;
    width: 100%;
    max-width: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .hero-text-wrapper p {
    margin-bottom: 1.5em;
  }
}
@media (min-width: 992px) {
  .hero-text-wrapper {
    bottom: 200px;
  }
  .hero-text-wrapper h1 {
    font-size: 1.5rem;
  }
  .hero-text-wrapper p {
    margin-bottom: 1.5em;
    font-size: 0.7rem;
  }
}
@media (min-width: 1200px) {
  .hero-text-wrapper {
    bottom: 140px;
  }
  .hero-text-wrapper h1 {
    font-size: 2.2rem;
  }
  .hero-text-wrapper p {
    margin-bottom: 1.5em;
    font-size: 0.7rem;
  }
}
@media (min-width: 1600px) {
  .hero-text-wrapper {
    display: block;
    bottom: 200px;
    line-height: 0.75;
  }
  .hero-text-wrapper h1 {
    font-size: 3rem;
    line-height: 0.9;
    max-width: 120px;
  }
  .hero-text-wrapper p {
    margin-bottom: 1.5em;
    font-size: 0.7em;
  }
}
@media (min-width: 1800px) {
  .hero-text-wrapper {
    bottom: 60px;
  }
  .hero-text-wrapper h1 {
    font-size: 2.5rem;
    line-height: 0.9;
    max-width: 400px;
  }
  .hero-text-wrapper p {
    margin-bottom: 1.5em;
    font-size: 0.7em;
  }
}
/**Header Slideshow container**/
.slideshow-container {
  display: none;
}

@media (min-width: 768px) {
  .slideshow-container {
    display: block;
    position: absolute;
    bottom: -125px;
    width: 100%;
    padding: 1em 0;
  }
  .slideshow-container .slideone h6 {
    margin-top: 0;
  }
  .slideshow-container .slideone p {
    max-width: 600px;
  }
  .slideshow-container .slideone .circles {
    width: 8px;
    display: block;
  }
  .slideshow-container .slideone .circles > .dots {
    width: 6px;
    height: 6px;
    margin: 5px auto;
    background-color: #d9d9d9;
    border-radius: 50%;
  }
  .slideshow-container .slideone .circles .activated {
    background-color: #1a2238;
  }
}
@media (min-width: 992px) {
  .slideshow-container {
    bottom: -120px;
  }
  .slideshow-container .slideone p {
    max-width: 700px;
  }
  .slideshow-container .slideone .circles {
    width: 8px;
  }
  .slideshow-container .slideone .circles > .dots {
    width: 6px;
    height: 6px;
  }
}
@media (min-width: 1200px) {
  .slideshow-container {
    padding: 1.25em 0;
    bottom: -120px;
  }
  .slideshow-container .slideone p {
    max-width: 900px;
  }
  .slideshow-container .slideone .circles {
    width: 8px;
  }
  .slideshow-container .slideone .circles > .dots {
    width: 8px;
    height: 8px;
  }
}
@media (min-width: 1300px) {
  .slideshow-container {
    bottom: -110px;
  }
}
@media (min-width: 1400px) {
  .slideshow-container {
    bottom: -120px;
  }
}
@media (min-width: 1600px) {
  .slideshow-container {
    bottom: -120px;
  }
}
@media (min-width: 1800px) {
  .slideshow-container {
    bottom: -150px;
    padding: 1.5em 0;
  }
}
/*****FOOTER*******/
footer {
  padding-bottom: 1em;
}
footer li.dropdown {
  margin-bottom: 1em;
  display: block;
  width: 100%;
}
footer li:last-child {
  width: auto;
  margin-bottom: 0;
}
footer a.dropdown-btn {
  text-align: left;
  color: #ffffff;
  padding: 0.25em 0 1.25em;
  font-size: 0.9rem;
  display: block;
  width: 100%;
  position: relative;
}
footer .active,
footer .dropdown-btn:hover {
  color: #9eabf2;
}
footer .dropdown-btn span {
  color: #9eabf2;
  font-size: 1em;
  margin-left: 7em;
  margin-right: 0.25em;
  position: absolute;
  transition: transform 0.5s ease;
}
footer .active span {
  transform: rotate(-90deg);
}
footer .dropdown-content {
  background-color: inherit;
  min-width: 100%;
  margin-inline: auto 0;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
footer .dropdown-content li:last-child {
  margin-bottom: 0.75em;
}
footer .dropdown-content a {
  color: #ffffff;
  padding-left: 10%;
}
footer .logo img {
  width: 200px;
  height: auto;
}
footer address {
  font-style: normal;
  font-size: 0.6em;
  color: #ffffff;
  line-height: 1.25em;
}
footer p span {
  display: block;
  color: #ffffff;
}
footer .social-icons-container {
  margin-bottom: -25px;
}
footer .social-icons {
  width: 100%;
  max-width: 400px;
  margin-inline: 0 auto;
}
footer .social-icons a {
  width: 60px;
  height: 60px;
  padding: 0.8em 1em;
  background-color: #ffffff;
  color: #1a2238;
  text-align: center;
  margin-right: 1em;
}
footer .social-icons a:last-child {
  margin-right: 0;
}
footer .social-icons i {
  font-size: 0.75rem;
}
footer .horizontal {
  width: min(80%, 90rem);
  margin-inline: auto;
  margin-bottom: 0.5em;
  background-color: #9eabf2;
  height: 0.15px;
}
footer .copyright-developerslink {
  text-align: center;
}
footer .copyright-developerslink p,
footer .copyright-developerslink a.copyright {
  color: #ffffff;
  font-size: 0.57rem;
}
footer .copyright-developerslink p {
  margin-bottom: 0;
}
footer .copyright-developerslink ul li {
  display: inline;
  margin-right: 0.5em;
}

@media (min-width: 600px) {
  footer {
    padding-bottom: 2em;
  }
  footer a.dropdown-btn {
    font-size: 1rem;
  }
  footer .dropdown-btn span {
    color: #9eabf2;
    font-size: 1.2em;
    margin-left: 9em;
  }
  footer .logo img {
    width: 250px;
  }
  footer address {
    font-size: 0.8rem;
    line-height: 1em;
  }
  footer .social-icons {
    width: 100%;
    max-width: 400px;
    margin-inline: 0 auto;
  }
  footer .social-icons a {
    width: 80px;
    height: 80px;
    padding: 0.9em 1em;
    margin-right: 2em;
  }
  footer .social-icons i {
    font-size: 0.85rem;
  }
  footer .horizontal {
    width: min(75%, 90rem);
    height: 0.15px;
  }
  footer .copyright-developerslink p,
  footer .copyright-developerslink a.copyright {
    font-size: 0.65rem;
  }
  footer .copyright-developerslink ul li {
    margin-right: 1em;
  }
}
@media (min-width: 768px) {
  footer .colum-23,
  footer .colum-30 {
    width: 50%;
  }
  footer .margin-top {
    margin-top: 2em;
  }
  footer .colum-23:nth-child(even) {
    padding-left: 3em;
  }
  footer a.dropdown-btn {
    font-size: 0.9rem;
    line-height: 0;
    cursor: default;
    color: #9eabf2;
  }
  footer .dropdown-btn span {
    display: none;
  }
  footer .dropdown-content {
    margin-inline: 0 auto;
    max-height: 200px;
    line-height: 1.2;
  }
  footer .dropdown-content li:last-child {
    margin-bottom: 0;
  }
  footer .dropdown-content a {
    padding-left: 0;
  }
  footer .logo img {
    width: 200px;
    height: auto;
  }
  footer address {
    font-size: 0.6em;
    line-height: 1;
  }
  footer p span {
    display: inline;
  }
  footer .social-icons-container {
    margin-bottom: 0;
  }
  footer .horizontal {
    width: min(90%, 90rem);
    margin-inline: auto;
    margin-bottom: 0.5em;
    background-color: #9eabf2;
    height: 1px;
  }
  footer .copyright-developerslink {
    text-align: left;
  }
  footer .copyright-developerslink p,
  footer .copyright-developerslink a.copyright {
    color: #ffffff;
    font-size: 0.57rem;
  }
  footer .copyright-developerslink p {
    margin-bottom: 0;
  }
  footer .copyright-developerslink ul {
    line-height: 0.5;
  }
  footer .copyright-developerslink ul li {
    display: inline;
    margin-right: 0.5em;
  }
}
@media (min-width: 1200px) {
  footer .colum-23 {
    width: 23%;
    padding-right: 1em;
  }
  footer .colum-23:last-child {
    padding-right: 0;
  }
  footer .colum-30 {
    width: 30%;
    padding-right: 1.5em;
  }
  footer .margin-top {
    margin-top: 0;
  }
  footer .colum-23:nth-child(even) {
    padding-left: 0;
  }
  footer a.dropdown-btn {
    font-size: 0.9rem;
    line-height: 0;
  }
  footer .dropdown-btn span {
    display: none;
  }
  footer .dropdown-content {
    margin-inline: 0 auto;
    max-height: 200px;
    line-height: 1.2;
  }
  footer .dropdown-content li:last-child {
    margin-bottom: 0;
  }
  footer .dropdown-content a {
    padding-left: 0;
    font-size: 0.65rem;
  }
  footer .logo img {
    width: 200px;
  }
  footer address {
    font-size: 0.65em;
    line-height: 1.2;
  }
  footer .social-icons {
    max-width: 300px;
  }
  footer .social-icons a {
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    border-bottom: 3px solid #9eabf2;
  }
  footer .social-icons i {
    font-size: 0.75rem;
  }
  footer .horizontal {
    height: 1px;
  }
  footer .copyright-developerslink p,
  footer .copyright-developerslink a.copyright {
    font-size: 0.55rem;
  }
}
@media (min-width: 1400px) {
  footer .horizontal {
    width: min(80%, 90rem);
  }
}
@media (min-width: 1600px) {
  footer .colum-23 {
    width: 23%;
    max-width: 300px;
    margin-inline: auto 0;
    padding-right: 0;
  }
  footer .colum-30 {
    width: 30%;
    max-width: 350px;
    margin-inline: 0 auto;
    padding-right: 1.5em;
  }
  footer a.dropdown-btn {
    font-size: 1rem;
  }
  footer .dropdown-content {
    line-height: 1.5;
  }
  footer .dropdown-content a {
    font-size: 0.7rem;
  }
  footer .logo img {
    width: 250px;
  }
  footer address {
    font-size: 0.65em;
    line-height: 1.5;
  }
  footer p span {
    font-size: 0.65rem;
  }
  footer .social-icons {
    max-width: 300px;
  }
  footer .social-icons a {
    width: 70px;
    height: 70px;
    padding: 0.75em 1em;
    margin-right: 0.75em;
    border-bottom: 3px solid #9eabf2;
  }
  footer .social-icons i {
    font-size: 1rem;
  }
  footer .copyright-developerslink p,
  footer .copyright-developerslink a.copyright {
    font-size: 0.65rem;
  }
}
/**************SECTION BACKGROUND-IMAGES**********************/
/***********Other ways to give***************/
.ways-to-give {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/header-image/Physician-team-close-1280x853-1-600x500.jpg");
}

.section-page-bg {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 300px;
  width: 100%;
}

@media (max-width: 600px) {
  .section-page-bg {
    background-position: center;
    background-size: cover;
    min-height: 250px;
  }
}
@media (min-width: 768px) {
  .ways-to-give {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/header-image/other-ways-to-give.jpg");
  }
  .section-page-bg {
    background-size: cover;
    background-position: center;
    min-height: 300px;
  }
}
@media (min-width: 992px) {
  .section-page-bg {
    background-size: cover;
    background-position: center;
    min-height: 400px;
  }
}
@media (min-width: 1600px) {
  .section-page-bg {
    margin-top: 0;
    min-height: 500px;
  }
}
/*******SECTION HEADER*******/
.section-title-box {
  position: relative;
  bottom: -50px;
}
.section-title-box .title-box-wrapper {
  width: 100%;
}
.section-title-box .mini-container {
  padding: 0.65em 0;
  width: min(80%, 80rem);
  margin-inline: auto;
  line-height: 0;
}
.section-title-box .mini-container p {
  display: none;
}
.section-title-box .mini-container h6,
.section-title-box .mini-container h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}
.section-title-box .colum-40 {
  background-color: rgb(26, 34, 56);
  background-color: rgba(26, 34, 56, 0.8);
}
.section-title-box .colum-40 .sec-color-box {
  width: 100%;
  min-height: 50px;
  background-color: #9eabf2;
}
.section-title-box .colum-60 {
  background-color: #ffffff;
  display: none;
}

@media (min-width: 600px) {
  .section-title-box {
    bottom: -55px;
  }
  .section-title-box .mini-container {
    padding: 0.75em 0;
  }
}
@media (min-width: 768px) {
  .section-title-box {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 90%;
  }
  .section-title-box .title-box-wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  .section-title-box .mini-container {
    padding: 1.5em 0 0.5em;
    width: min(80%, 80rem);
    margin-inline: auto;
    line-height: 0.5;
  }
  .section-title-box .mini-container p {
    display: block;
    line-height: 1.25em;
  }
  .section-title-box .mini-container h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 0.9em;
    padding-right: 0.25em;
  }
  .section-title-box .colum-40 .sec-color-box {
    min-height: 50px;
  }
  .section-title-box .colum-60 {
    display: block;
  }
  .section-title-box .colum-60 h1 {
    line-height: 0.8;
    text-transform: uppercase;
    margin-top: 0.25em;
    margin-bottom: 0;
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  .section-title-box .mini-container h2 {
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  .section-title-box .mini-container {
    padding: 1.5em 0 0.5em;
  }
  .section-title-box .mini-container h2 {
    font-size: 1.35em;
  }
  .section-title-box .colum-40 .sec-color-box {
    min-height: 50px;
  }
  .section-title-box .colum-60 {
    display: block;
  }
  .section-title-box .colum-60 h1 {
    line-height: 0.8;
    text-transform: uppercase;
    margin-top: 0.25em;
    margin-bottom: 0;
    font-size: 2.5em;
  }
}
@media (min-width: 1600px) {
  .section-title-box {
    width: 75%;
    bottom: -70px;
  }
  .section-title-box .mini-container {
    padding: 2em 0 0.5em;
  }
  .section-title-box .mini-container h2 {
    font-size: 1.55em;
  }
  .section-title-box .colum-40 .sec-color {
    max-width: 300px;
  }
  .section-title-box .colum-40 .sec-color-box {
    min-height: 70px;
  }
  .section-title-box .colum-60 h1 {
    font-size: 3em;
    margin-top: -0.05em;
  }
}
@media (min-width: 1600px) {
  .section-title-box .mini-container h2 {
    font-size: 1.7em;
  }
}
/*************INDEX PAGE***************/
/*******Intro About us******/
#Caption-About {
  padding-bottom: 0;
}
#Caption-About .colum-30 .width-80 {
  display: none;
}
#Caption-About .colum-30 ul li {
  padding: 0.65em 0;
  text-align: center;
  width: 100%;
  display: block;
  border-bottom: 1px solid #9eabf2;
}
#Caption-About .colum-30 ul li .secondary-color {
  font-size: 1.8em;
  min-width: 40px;
  vertical-align: middle;
}
#Caption-About .colum-30 ul li a {
  font-size: 0.6em;
  width: 100%;
  text-align: right;
  font-weight: 600;
}
#Caption-About .colum-30 ul li:last-child {
  border-bottom: none;
}
#Caption-About .colum-70 {
  padding: 2em 0;
}

@media (min-width: 768px) {
  #Caption-About {
    margin-top: 3.8em;
    padding-bottom: 1em;
  }
  #Caption-About .colum-30 {
    padding: 2em 1em 1.5em 0;
  }
  #Caption-About .colum-30 .width-80 {
    display: block;
    width: 100%;
  }
  #Caption-About .colum-30 .width-80 h4 {
    margin-bottom: 0;
    margin-top: 0.5em;
    padding: 0.5em 0.75em;
    font-size: 0.8rem;
  }
  #Caption-About .colum-30 ul li {
    width: 100%;
    display: flex;
  }
  #Caption-About .colum-30 ul li .secondary-color {
    font-size: 1.2em;
    width: 10%;
    max-width: 25px;
    display: block;
  }
  #Caption-About .colum-30 ul li a {
    font-size: 0.6em;
    width: 85%;
    margin-inline: auto 0;
    display: flex;
    align-items: center;
  }
  #Caption-About .colum-30 ul li a span {
    width: 80%;
    vertical-align: middle;
    text-align: left;
  }
  #Caption-About .colum-30 ul li:last-child {
    border-bottom: 1px solid #9eabf2;
  }
}
@media (min-width: 992px) {
  #Caption-About {
    margin-top: 4em;
  }
  #Caption-About .colum-30 {
    padding: 2em 2em 2em 0;
  }
  #Caption-About .colum-30 .width-80 h4 {
    margin-bottom: 0;
    margin-top: 0.5em;
    padding: 0.5em 0.75em;
    font-size: 1rem;
    max-width: 300px;
    margin-left: auto;
  }
  #Caption-About .colum-30 ul li .secondary-color {
    font-size: 1.2em;
    width: 30%;
    margin-inline: 0 auto;
    max-width: 50px;
    text-align: right;
    display: block;
    margin-left: 1.6em;
  }
  #Caption-About .colum-30 ul li a span {
    width: 70%;
    margin-inline: auto 0;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  #Caption-About .colum-30 .width-80 {
    display: block;
    width: 100%;
  }
  #Caption-About .colum-30 .width-80 h4 {
    font-size: 1.1rem;
    max-width: 600px;
  }
  #Caption-About .colum-30 ul li {
    width: 100%;
    display: flex;
  }
  #Caption-About .colum-30 ul li .secondary-color {
    width: 10%;
    max-width: 25px;
  }
  #Caption-About .colum-30 ul li a {
    font-size: 0.6em;
    width: 65%;
    margin-inline: auto 0;
  }
  #Caption-About .colum-30 ul li a span {
    width: 80%;
    vertical-align: middle;
  }
}
@media (min-width: 1600px) {
  #Caption-About .colum-30 {
    padding-right: 4em;
    padding-bottom: 4em;
  }
  #Caption-About .colum-30 .width-80 h4 {
    font-size: 1.4rem;
    max-width: 600px;
    padding: 1em 1em 1em 2em;
  }
  #Caption-About .colum-30 ul li .secondary-color {
    width: 10%;
    max-width: 50px;
    font-size: 1.5em;
  }
  #Caption-About .colum-30 ul li a {
    font-size: 0.8em;
    width: 85%;
    max-width: 300px;
  }
  #Caption-About .colum-30 ul li a span {
    width: 80%;
  }
}
@media (min-width: 1800px) {
  #Caption-About {
    margin-top: 5.5em;
  }
  #Caption-About .colum-30 .width-80 h4 {
    font-size: 1.6rem;
    max-width: 600px;
    padding: 1em 1em 1em 2em;
  }
  #Caption-About .colum-30 ul li .secondary-color {
    width: 10%;
    max-width: 50px;
    font-size: 1.5em;
  }
  #Caption-About .colum-30 ul li a {
    font-size: 0.8em;
    width: 85%;
    max-width: 300px;
  }
  #Caption-About .colum-30 ul li a span {
    width: 80%;
  }
}
/*******Area-We-Have-Impacted-lives******/
#Area-We-Have-Impacted-lives h3 {
  text-align: center;
}
#Area-We-Have-Impacted-lives .health-care .text-right,
#Area-We-Have-Impacted-lives .basic-amenities .text-right {
  text-align: left;
}
#Area-We-Have-Impacted-lives .colum-30 img {
  display: none;
}
#Area-We-Have-Impacted-lives .colum-70 {
  padding: 1em 0 2em;
}

@media (min-width: 768px) {
  #Area-We-Have-Impacted-lives {
    padding: 3em 0;
  }
  #Area-We-Have-Impacted-lives h3 {
    text-align: left;
  }
  #Area-We-Have-Impacted-lives .health-care .text-right,
  #Area-We-Have-Impacted-lives .basic-amenities .text-right {
    text-align: right;
  }
  #Area-We-Have-Impacted-lives .colum-30 img {
    display: block;
    max-width: 200px;
  }
  #Area-We-Have-Impacted-lives .colum-30 img:nth-child(odd) {
    padding-left: 1em;
  }
  #Area-We-Have-Impacted-lives .colum-70:nth-child(even) {
    padding: 1em 0 2em 1em;
  }
}
@media (min-width: 992px) {
  #Area-We-Have-Impacted-lives .colum-30 img {
    max-width: 250px;
  }
}
@media (min-width: 1200px) {
  #Area-We-Have-Impacted-lives .intro-text {
    margin-bottom: 2em;
  }
  #Area-We-Have-Impacted-lives .colum-30 img {
    max-width: 350px;
  }
  #Area-We-Have-Impacted-lives .colum-70:nth-child(even) {
    padding: 0 0 0 2.5em;
  }
  #Area-We-Have-Impacted-lives .colum-70 {
    padding: 0 0 0 0;
  }
  #Area-We-Have-Impacted-lives .colum-70 h5 {
    margin-top: 0;
  }
  #Area-We-Have-Impacted-lives .container {
    padding: 0;
  }
}
@media (min-width: 1600px) {
  #Area-We-Have-Impacted-lives .colum-30 img {
    max-width: 450px;
  }
  #Area-We-Have-Impacted-lives .colum-30 img:nth-child(odd) {
    padding-left: 3em;
  }
  #Area-We-Have-Impacted-lives .colum-70:nth-child(even) {
    padding: 0 0 0 5em;
  }
}
@media (min-width: 1800px) {
  #Area-We-Have-Impacted-lives .colum-70:nth-child(even) {
    padding: 0 0 0 3em;
  }
}
/*******What makes us different******/
#What-Makes-Us-Different {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}
#What-Makes-Us-Different .flex {
  margin-top: 1.5em;
}
#What-Makes-Us-Different .colum-25 {
  line-height: 0.5;
  width: 100%;
  display: block;
  margin-bottom: 1em;
  padding: 0 1em;
}
#What-Makes-Us-Different .colum-25 iconify-icon {
  font-size: 2em;
}
#What-Makes-Us-Different .colum-25 h5 {
  font-weight: 600;
  margin-top: 1em;
}
#What-Makes-Us-Different .colum-25 p {
  width: 100%;
  max-width: 200px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  #What-Makes-Us-Different {
    padding-bottom: 3em;
    text-align: center;
  }
  #What-Makes-Us-Different h3 {
    text-align: left;
  }
  #What-Makes-Us-Different .colum-25 {
    width: 50%;
  }
  #What-Makes-Us-Different .colum-25 h5 {
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  #What-Makes-Us-Different .colum-25 {
    width: 25%;
    margin: 2em 0;
  }
  #What-Makes-Us-Different .colum-25 h5 {
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1.5em;
  }
}
@media (min-width: 1600px) {
  #What-Makes-Us-Different .colum-25 iconify-icon {
    font-size: 2.5em;
  }
  #What-Makes-Us-Different .colum-25 h5 {
    font-size: 1rem;
    margin-bottom: 1.25em;
  }
  #What-Makes-Us-Different .colum-25 p {
    max-width: 250px;
  }
}
/*******Make a donation******/
#Make-a-donation {
  padding-top: 0;
}
#Make-a-donation button, #Make-a-donation .submit-btn {
  font-size: 0.425em;
}
#Make-a-donation .colum-60,
#Make-a-donation .colum-40 {
  display: none;
}
#Make-a-donation .donation-form {
  margin-bottom: 2em;
}
#Make-a-donation .form-width {
  width: 100%;
  max-width: 325px;
  margin-inline: auto;
}
#Make-a-donation .form-width h3 {
  text-align: center;
  margin-bottom: 1.5em;
}
#Make-a-donation .form-width .donation-amount {
  margin: 2em 0;
}
#Make-a-donation .form-width .group-btn {
  display: flex;
  display: -ms-flexbox;
  margin-bottom: 0.5em;
}
#Make-a-donation .form-width .group-btn button, #Make-a-donation .form-width .group-btn .submit-btn {
  width: 50%;
  padding: 1.5em 0.5em;
}
#Make-a-donation .form-width .bg-grey {
  padding: 1.5em 0.5em 0.5em;
}
#Make-a-donation .form-width .bg-grey a {
  margin-top: 1.5em;
  text-align: right;
  width: 100%;
  font-weight: 600;
}
#Make-a-donation .select-amount-to-pay .flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
#Make-a-donation .select-amount-to-pay .flex .col-33 {
  width: 33%;
  padding: 0.75em 0.25em;
}
#Make-a-donation .select-amount-to-pay .flex .col-66 {
  width: 66%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  padding: 0.18em 0;
}
#Make-a-donation .select-amount-to-pay .flex .col-66 .icon {
  color: #1a2238;
  min-width: 25px;
  padding-left: 0.5em;
  text-align: center;
  font-size: 0.6em;
}
#Make-a-donation .select-amount-to-pay .flex .col-66 input[type=text] {
  width: 75%;
  margin-left: 0.5em;
  border: none;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0.5em 0.5em;
  box-shadow: inset 1px 1px 1px 1px rgba(26, 34, 56, 0.1);
}
#Make-a-donation .submit-btn {
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: 600;
}

@media (min-width: 768px) {
  #Make-a-donation {
    padding-top: 0;
    position: relative;
  }
  #Make-a-donation button, #Make-a-donation .submit-btn {
    font-size: 0.425em;
  }
  #Make-a-donation .colum-60,
  #Make-a-donation .colum-40 {
    display: block;
    min-height: 485px;
  }
  #Make-a-donation .colum-60 {
    background-image: linear-gradient(rgb(26, 34, 56), rgba(26, 34, 56, 0.9)), url("/assets/other-photos/africaaidsfree.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
  }
  #Make-a-donation .colum-60 .content-wrapper {
    width: 100%;
    max-width: 310px;
    margin-inline: 0 auto;
  }
  #Make-a-donation .colum-60 .content-wrapper h4 {
    font-size: 1.2em;
    line-height: 1.25;
  }
  #Make-a-donation .donation-form {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 99;
    width: 100%;
    max-width: 400px;
    padding: 1.25em 0;
    box-shadow: 4px 2px 0px 2px rgba(0, 0, 0, 0.1);
  }
  #Make-a-donation .form-width {
    width: 100%;
  }
  #Make-a-donation .form-width h3 {
    text-align: left;
    margin-bottom: 1em;
    font-weight: 400;
  }
  #Make-a-donation .form-width .donation-amount {
    margin: 1em 0;
  }
  #Make-a-donation .form-width .group-btn {
    display: flex;
    display: -ms-flexbox;
    margin-bottom: 0.5em;
  }
  #Make-a-donation .form-width .group-btn button, #Make-a-donation .form-width .group-btn .submit-btn {
    width: 50%;
    padding: 0.75em 0.25em;
  }
  #Make-a-donation .form-width .bg-grey {
    padding: 1em 0.5em 0.25em;
  }
  #Make-a-donation .form-width .bg-grey a {
    margin-top: 1.5em;
    text-align: right;
    width: 100%;
    font-weight: 600;
  }
  #Make-a-donation .select-amount-to-pay .flex {
    margin-bottom: 0.5em;
  }
  #Make-a-donation .select-amount-to-pay .flex .col-33 {
    padding: 0.75em 0.25em;
  }
  #Make-a-donation .select-amount-to-pay .flex .col-66 {
    padding: 0.18em 0;
  }
  #Make-a-donation .select-amount-to-pay .flex .col-66 input[type=text] {
    padding: 0.1em 0.5em;
  }
  #Make-a-donation .submit-btn {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 992px) {
  #Make-a-donation .colum-60,
  #Make-a-donation .colum-40 {
    min-height: 550px;
  }
  #Make-a-donation .colum-60 {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
  }
  #Make-a-donation .colum-60 .content-wrapper {
    max-width: 400px;
    margin-left: 2rem;
  }
  #Make-a-donation .colum-60 .content-wrapper h4 {
    font-size: 1.4em;
  }
  #Make-a-donation .donation-form {
    max-width: 500px;
    padding: 1.5em 0;
  }
  #Make-a-donation .form-width {
    width: 100%;
    max-width: 400px;
  }
  #Make-a-donation .form-width h3 {
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1.2em;
    max-width: 300px;
  }
  #Make-a-donation .form-width .donation-amount {
    margin: 1em 0;
  }
  #Make-a-donation .form-width .group-btn button, #Make-a-donation .form-width .group-btn .submit-btn {
    width: 40%;
    padding: 1em 0.25em;
  }
}
@media (min-width: 1200px) {
  #Make-a-donation .colum-60,
  #Make-a-donation .colum-40 {
    min-height: 600px;
  }
  #Make-a-donation .colum-60 .content-wrapper {
    max-width: 500px;
  }
  #Make-a-donation .colum-60 .content-wrapper h4 {
    font-size: 1.6em;
  }
  #Make-a-donation .donation-form {
    max-width: 600px;
  }
  #Make-a-donation .form-width {
    max-width: 400px;
  }
  #Make-a-donation .form-width .group-btn button, #Make-a-donation .form-width .group-btn .submit-btn {
    width: 45%;
  }
}
@media (min-width: 1600px) {
  #Make-a-donation .colum-60,
  #Make-a-donation .colum-40 {
    min-height: 650px;
  }
  #Make-a-donation .colum-60 .content-wrapper {
    max-width: 550px;
  }
  #Make-a-donation .colum-60 .content-wrapper h4 {
    font-size: 1.8em;
  }
  #Make-a-donation .donation-form {
    max-width: 800px;
    padding: 2em 1em 2em 3em;
  }
  #Make-a-donation .form-width {
    max-width: 600px;
    margin-inline: 0 auto;
  }
  #Make-a-donation .form-width .bg-grey {
    padding: 1em;
  }
  #Make-a-donation .form-width h3 {
    font-size: 1.5em;
    max-width: 400px;
  }
  #Make-a-donation .form-width .group-btn button, #Make-a-donation .form-width .group-btn .submit-btn {
    width: 50%;
  }
  #Make-a-donation .select-amount-to-pay .flex {
    margin-bottom: 0.5em;
  }
  #Make-a-donation .select-amount-to-pay .flex .col-33 {
    padding: 1em 0.5em;
  }
  #Make-a-donation .select-amount-to-pay .flex .col-66 {
    padding: 0.5em 0;
  }
  #Make-a-donation .select-amount-to-pay .flex .col-66 input[type=text] {
    padding: 0.5em 0.5em;
  }
}
@media (min-width: 1800px) {
  #Make-a-donation .colum-60,
  #Make-a-donation .colum-40 {
    min-height: 700px;
  }
  #Make-a-donation .colum-60 .content-wrapper {
    max-width: 700px;
  }
  #Make-a-donation .colum-60 .content-wrapper h4 {
    font-size: 2.2em;
  }
  #Make-a-donation .donation-form {
    max-width: 900px;
  }
  #Make-a-donation .form-width {
    max-width: 500px;
  }
}
/*******Other ways to give******/
#accordion .accordion-wrapper {
  width: 100%;
}
#accordion .accordion-dropdown-btn {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.5em;
  margin-bottom: 0;
  margin-top: 0;
  color: #1a2238;
  transition: background-color 0.3s ease-in, color 0.5s ease-in;
}
#accordion .add-activated {
  background-color: #1a2238;
  color: #ffffff;
}
#accordion .accordion-dropdown-btn::before {
  content: "+";
  color: #9eabf2;
  font-size: 1em;
  font-weight: 400;
  margin-right: 1em;
  width: 25px;
  float: left;
}
#accordion .add-activated::before {
  content: "−";
}
#accordion .accordion-dropdown-content {
  padding: 0em 1em 0em 1em;
  width: inherit;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}
#accordion .accordion-dropdown-content .padding-top-bottom {
  padding-top: 1em;
  padding-bottom: 1em;
}
@media (min-width: 600px) {
  #accordion .accordion-dropdown-content {
    padding: 0em 2em 0em 2.75em;
  }
}
@media (min-width: 1600px) {
  #accordion .accordion-dropdown-content {
    padding: 0em 2em 0em 3em;
  }
}
#accordion .add-activated .accordion-dropdown-content {
  padding: 2em 2em 2em 3em;
}
#accordion .faint-horizontal {
  border: 1px solid #f1f1f1;
  margin: 0.5em 0;
}

/***********FREQUENTLY ASKED QUESTION***************/
.frequently-asked-questions {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/header-image/Physician-team-close-1280x853-1-600x500.jpg");
}

@media (min-width: 768px) {
  .frequently-asked-questions {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/header-image/faq.jpg");
  }
}
/***********HAVE WORKED***************/
.have-worked {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/header-image/Physician-team-close-1280x853-1-600x500.jpg");
}

@media (min-width: 768px) {
  .have-worked {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/header-image/areas-we-have-worked.jpg");
  }
}
#areas-we-have-worked {
  text-align: center;
  width: 100%;
}
#areas-we-have-worked .image-wrapper p {
  max-width: 700px;
  margin-inline: auto;
}
#areas-we-have-worked .image-wrapper img {
  width: 600px;
  margin-inline: auto;
  display: block;
}

@media (min-width: 768px) {
  #areas-we-have-worked .image-wrapper p {
    max-width: 600px;
  }
  #areas-we-have-worked .image-wrapper img {
    display: block;
  }
}
@media (min-width: 1200px) {
  #areas-we-have-worked .image-wrapper p {
    max-width: 700px;
  }
  #areas-we-have-worked .image-wrapper img {
    width: 700px;
  }
}
@media (min-width: 1600px) {
  #areas-we-have-worked .image-wrapper p {
    max-width: 1000px;
  }
  #areas-we-have-worked .image-wrapper img {
    width: 1000px;
  }
}
/*****************CONTACT US********************/
.contact-us {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/header-image/Physician-team-close-1280x853-1-600x500.jpg");
}

@media (min-width: 768px) {
  .contact-us {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/header-image/our-stories.jpg");
  }
}
.contact-form {
  width: 100%;
  max-width: 600px;
  margin-inline: 0 auto;
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.contact-form h5 {
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-top: 0;
}
.contact-form .input-container {
  margin-bottom: 0.75em;
}
.contact-form .input-container label {
  font-weight: 300;
  width: 100%;
  display: block;
}
.contact-form .input-container input[type=text],
.contact-form .input-container textarea {
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-size: 0.6em;
  padding: 0.35em 0.5em;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  border-radius: 4px;
}

.reach-us-wrapper-container {
  margin-top: 1em;
}
.reach-us-wrapper-container .colum-30 {
  max-width: 600px;
  margin-bottom: 1em;
  height: 250px;
  line-height: 1.2;
  overflow: hidden;
  padding: 0.5em 1.5em;
}
.reach-us-wrapper-container .bg-grey ul li a {
  color: #1a2238;
}
.reach-us-wrapper-container .bg-secondary-color div {
  line-height: 0;
  margin-bottom: 0;
}
.reach-us-wrapper-container .bg-secondary-color div h6 {
  font-weight: 600;
}

@media (min-width: 768px) {
  .reach-us-wrapper-container .colum-30:not(:last-child) {
    width: 47.05%;
    padding: 0.5em 1.5em;
  }
  .reach-us-wrapper-container .colum-30:last-child {
    display: none;
  }
}
@media (min-width: 992px) {
  .reach-us-wrapper-container .colum-30:not(:last-child) {
    width: 30%;
  }
  .reach-us-wrapper-container .colum-30:last-child {
    display: block;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts {
    margin-top: -0.5em;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts div:last-child {
    margin-top: -0.5em;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts a {
    font-size: 0.65rem;
  }
}
@media (min-width: 1200px) {
  .contact-form {
    width: 100%;
    max-width: 850px;
    padding: 2em;
  }
  .contact-form form {
    max-width: 600px;
  }
  .contact-form h5 {
    margin-bottom: 1.5em;
  }
  .contact-form .input-container input[type=text],
  .contact-form .input-container textarea {
    font-size: 0.6em;
    padding: 0.5em 0.5em;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts {
    margin-top: -1em;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts div:last-child {
    margin-top: -0.5em;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts h6 {
    font-size: 0.9rem;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts a {
    font-size: 0.7rem;
  }
}
@media (min-width: 1600px) {
  .contact-form {
    max-width: 1000px;
    padding: 2.5em;
  }
  .contact-form form {
    max-width: 650px;
  }
  .contact-form .input-container input[type=text],
  .contact-form .input-container textarea {
    font-size: 0.65em;
    padding: 0.5em 0.5em;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts {
    margin-top: -1em;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts div:last-child {
    margin-top: -0.5em;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts h6 {
    font-size: 0.9rem;
  }
  .reach-us-wrapper-container .colum-30:last-child .email-contacts a {
    font-size: 0.7rem;
  }
  .reach-us-wrapper-container .colum-30:nth-child(even) p:last-child {
    max-width: 250px;
  }
}/*# sourceMappingURL=main.css.map */